/* Google Fonts Import */
/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
/* font-family: 'Outfit', sans-serif; */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: hsl(212, 45%, 89%);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 56px); /* Restar la altura del footer */
}

article#qr-code {
    background-color: white;
    text-align: center;
    width: 90%;
    max-width: 275px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 28px #00000021;
}

article#qr-code img {
    width: 100%;
    border-radius: 10px;
}

article#qr-code .qr-h1 {
    font-weight: 700;
    font-size: 22px;
}

article#qr-code .qr-paragraph {
    font-size: 15px;
    font-weight: 400;
}

/* Footer */
footer {
    font-size: 11px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer .attribution a {
    color: hsl(228, 45%, 44%);
}
